<div class='mt-4'>
  <div class='row'>
    {{#each course}}
      <div class='col-sm-6 col-lg-4'>
        <div class='card i'>
          <img src='{{this.img}}' class='card-img-top' alt='...' />
          <div class='card-body'>
            <a href='/course/{{this.slug}}'>
              <h5 class='card-title'>{{this.name}}</h5></a>
            <a href='/course/{{this.slug}}'>
              <p class='card-text'>{{this.description}}</p></a>
            <a href='/course/{{this.slug}}' class='btn btn-primary'>Xem music</a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>
{{!-- <h1>{{course}}</h1> --}}